div {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Lucida Sans";
  text-align:justify;
}

.topnav {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boton{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
   
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans';
    display:inline-block;
    color: #FFF;
    background: rgb(16, 139, 192);
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 60px;
    margin: 5px 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

body{
  background: linear-gradient(90deg, rgb(86, 192, 185) 0%, rgb(92, 98, 180) 100%);;
  background-size: cover;
  width:100%;
  padding-top: 10%;
  padding-left: 0%;
}

#region,h4{
  font-family: 'Lucida Sans';
}
#regiones.label{
    background-clip: border-box;
    font: 14px;
    font-family: 'Lucida Sans';
    margin: 3px;
    border: 50px outset 7cap;
    width: 200px;
    padding: 10px;
}

#titulo{
  border: 6px outset #1e3996;
  width: 80%;
  border-radius: 10px;
  height: 110px;
  padding-top: 20px;
  background: #1C6EA4;
  background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
  background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
  background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
  text-align: center;
  text-size-adjust: 50%;
  text-shadow: 5px 5px 10px rgba(229, 16, 245, 0.4);
  color: #e510f5;
    font-size:350%;
    font-family:'Caveat';
    margin-left: 80px;
    overflow: hidden;
   
}
h4{
  font-family: 'Lucida Sans';
  text-align: center;
}
#bienvenida{
    text-align:justify;
    word-spacing: 10px;
    font-family: 'Lucida Handwriting';
    line-height: 2;
    margin-right: 10%;
    margin-left: 10%;
}
div.gallery {
  border: 2px solid #ccc;
  margin-right: 40px;
  width: 20%;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
  margin-bottom: 5px;
}

div.gallery img {
  width: 90%;
  height: 70%;
  padding: 10px;
  object-fit: cover;
  text-align: center;
}

div.desc {
  padding: 2px;
  font-family: 'Lucida Sans';
  text-align: center;
}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 600px) {
  h1 {
      font-size: 70px;
  }
  h2 {
      font-size: 55px;
  }
  h4 {
    font-size: 45px;
  }
.boton , footer{
  font-size: 25px;
}
body {
  font-size: 35px
}
}

@media only screen and (min-width: 600px) {
  h1 {
      font-size: 65px;
  }
  h2 {
      font-size: 50px;
  }
  h4 {
    font-size: 40px;
  }
.boton , footer{
  font-size: 20px;
}
body {
  font-size: 30px
}
}

@media only screen and (min-width: 768px) {
  h1 {
      font-size: 60px;
  }
  h2 {
      font-size: 45px;
  }
  h4 {
    font-size: 35px;
  }
.boton , footer{
  font-size: 15px;
}
body {
  font-size: 25px
}
}

@media only screen and (min-width: 992px) {
  h1 {
      font-size: 55px;
  }
  h2 {
      font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
.boton , footer{
  font-size: 10px;
}
body {
  font-size: 20px
}
}

img{
  transition: transform .2s;
  }

  img:hover{
  transform: scale(1.5);
  }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}